.signup {
  width: 100vw;
  min-height: 700px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../images/bg-poster.jpg");
  background-size: cover;
  position: relative;
}


.signup .signup-container {
padding: 140px 20px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  color: white;
}

.signup h1 {
  font-size: 50px;
  font-weight: 900;
}
.signup h2 {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: normal;
}

